* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', Verdana, Tahoma, sans-serif;
}

body {
    background-color: #111;
    color: #666666;
}

section {
    max-width: 1600px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}

section a {
    text-decoration: none;
    color: #efefef;
}

    section a:hover {
        color: #fff;
    }


.arrow {
    max-width: 1600px;
    margin-inline: auto;
    text-align: center;
    padding: 14rem 0 18rem 0;
    opacity: 100%;
}

    .arrow:hover {
        opacity: 20%;
    }


    .CV {
        text-align: center;
        background-color: #fff;
        padding: 4rem;
    }
    
    .CV a:hover {
        opacity: 20%;
    }
    
        .CV h1 {
            font-weight: bolder;
            padding: 2rem 0 2rem 0;
        }




.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem 0 2rem 0;
    gap: 6rem;
}


.grid-container-1 {
    margin: 10rem 0 10rem 0;
    background-color: #efefef;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0 2rem 0;
    gap: 6rem;
}



.skills a {
    color: #666;
    text-decoration: underline;
}

.skills-star a {
    color: #FF36A5;
    text-decoration: underline;
}

    .description-title {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2fr, 1fr));
        margin: 2rem 0 0 0;
    }


    .description-left {
        justify-self: stretch;
        text-align: end;
    }
    
    .description-right {
        justify-self: stretch;
        text-align: start;

    }

.title-left {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px 0 7px 0;
}

.title-right {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding: 6px 0 6px 0;
}


.tools {
    display: flex;
    justify-content: baseline;
    gap: 2rem;
    padding: 2rem 0 2rem 0;

}

    .tools-icons {
        text-align: center;
    }

    .tools-icons p {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
    }

    .superscript-skill {
        color: #FFA807;
    }
    
    .superscript-course {
        color: #FF36A5;
    }





.portfolio {
    display: flex;
    justify-content: baseline;
    gap: 2rem;
    padding: 1.5rem 0 1.5rem 0;
}

    .portfolio-icons {
        text-align: center;
    }

    .portfolio-icons p {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
    }

    .portfolio-icons a:hover {
        opacity: 20%;
    }



/* footer */

footer {
    text-align: center;
    margin: 2rem;
    color: #333;
}

.divider {
    text-align: center;
    background-color: #333;
    padding: 0.5px;
    margin: 2rem;
}


/* mobile */

@media (max-width: 200px) {

    body { 
      font-size: 18px; 
    }

    section {
        margin: 0 1rem 0 1rem;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 4rem 0 4rem 0;
        gap: 4rem;
        align-items: center;
    }


    .grid-container-2 {
        display: grid;
        grid-template-columns: auto;
        margin: 2rem 0 2rem 0;
        gap: 6rem;
    }

  }

