* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', Verdana, Tahoma, sans-serif;
}

body {
    background-color: #111;
    color: #666666;
}

section {
    max-width: 1600px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}

.title-domain {
    text-align: center;
    padding: 4rem 0 2rem 0;
    color: #fff;
    font-weight: bolder;
}

.title-next {
    text-align: center;
    padding: 20rem 0 20rem 0;
    color: #666666;
    font-weight: bolder;
}


/* section-vertical */

.vertical {
    max-width: 900px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}


section a {
    text-decoration: none;
    color: #efefef;
}

    section a:hover {
        color: #fff;
    }
    


    .main {
        height: 100vh;
        background-image: url("../img/Artboard 1 - Cover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

.highlight {
    color: #fff;
}
    

.highlight:hover {
    opacity: 20%;
}



.arrow {
    max-width: 1600px;
    margin-inline: auto;
    text-align: center;
    padding: 14rem 0 0 0;
    opacity: 100%;
}

    .arrow:hover {
        opacity: 20%;
    }

.grid-container-CV {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 8rem 0 8rem 0;
    gap: 4rem;
    align-items: center;
}

.CV {
    text-align: center;
    background-color: #fff; 
    padding: 4rem;
}

.CV a:hover {
    opacity: 20%;
}

    .CV h1 {
        font-weight: bolder;
        padding: 2rem 0 2rem 0;
    }


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 8rem 0 8rem 0;
    gap: 4rem;
    align-items: center;
}


    .img-1 {
        height: 100%;  
        cursor: pointer;
    }
        .img-1:hover {
            height: 100%;
            cursor: pointer;
            opacity: 40%;
            transform: scale(0.9);
        }



.grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    margin: 8rem 0 8rem 0;
    grid-gap: 4rem;
    align-items: center;
}




.icons {
    display: inline-block;
    padding: 1.5rem 0 1.5rem 0;
    margin: 1rem;
}

.icons-text:hover {
    opacity: 20%;
}

.icons-text {
    text-align: center;
    text-decoration: underline;
}

.icons-text p {
    margin: 0.5rem 0 0 0;
    font-size: 14px;
    color: #fff;
}



/* pages */

.container {
    width: 90%;
    margin: 0 auto;
    padding: 8rem;
}

.container-img {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    gap: 10rem;
}

    .container-img img {
        padding: 6rem 0 6rem 0;
    }

    .container-page {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 4rem 0 4rem 0;
        gap: 4rem;
        align-items: center;
    }




/* footer */

footer {
    text-align: center;
    margin: 2rem;
    color: #333;
}

.divider {
    text-align: center;
    background-color: #333;
    padding: 0.5px;
    margin: 2rem;
}




/* mobile */

@media (max-width: 900px) {

    body { 
        font-size: 18px; 
    }

    section {
        margin: 0 1rem 0 1rem;

    }

    .main {
        height: 60vh;
        background-image: url("../img/Artboard 1 - Cover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 4rem 0 4rem 0;
        gap: 4rem;
        align-items: center;
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 4rem 0 4rem 0;
        gap: 4rem;
        align-items: center;
    }

    .grid-container-CV {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 4rem 0 4rem 0;
        gap: 4rem;
        align-items: center;
    }

    .arrow {
        max-width: 1600px;
        margin-inline: auto;
        text-align: center;
        padding: 2rem 0 6rem 0;
        opacity: 100%;
    }   

    .arrow img {
        width: 40px;
        height: 60px;
    }

  }

