* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', Verdana, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    color: #666;
}

section {
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}

section a {
    text-decoration: none;
    color: #efefef;
}

    section a:hover {
        color: #fff;
    }

    
.contact {
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    color: #fff;
    font-weight: bolder;
}

    .contact-box {
        border: 1px solid #333;
        padding: 1rem;
        text-align: center;
    }



.arrow {
    max-width: 1600px;
    margin-inline: auto;
    text-align: center;
    padding: 14rem 0 18rem 0;
    opacity: 100%;
}

    .arrow:hover {
        opacity: 20%;
    }


    .CV {
        border: 1px solid #333;
        text-align: center;
        padding: 4rem;
    }
    
    .CV a:hover {
        opacity: 20%;
    }
    
        .CV h1 {
            font-weight: bolder;
            padding: 2rem 0 2rem 0;
            color: #fff;
        }

.CV-photo {
    text-align: center;
    padding: 4rem;
}


    .name {
        font-size: 32px;
        font-weight: bolder;
        padding: 4rem 0 2rem 0;
        color: #fff;
    }

    .subname {
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
    }


    
.anchor-links {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5rem;
}


.table-of-contents {
    display: grid;
}

.table-of-contents a {
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bolder;
}

.anchor-Portfolio {
    color: #fff;
}


.anchor-Projects {
    color: #eb6d24;
}

    .anchor-Projects:hover {
        color: #333;
    }

.anchor-Work {
    color: #7291FC;
}

    .anchor-Work:hover {
        color: #333;
    }

.anchor-Job {
    color: #FF4A68;
}

    .anchor-Job:hover {
        color: #333;
    }

.anchor-Skills {
    color: #FFA807;
}

    .anchor-Skills:hover {
        color: #333;
    }

.anchor-Education {
    color: #36ff79;
}

    .anchor-Education:hover {
        color: #333;
    }

.anchor-Courses {
    color: #EA7EFF;
}

    .anchor-Courses:hover {
        color: #333;
    }

.anchor-Hobbies {
    color: #9736FF;
}

    .anchor-Hobbies:hover {
        color: #333;
    }


.year {
    font-size: 48px;
    font-weight: 500;
}




.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
}


.grid-container-1 {
    margin: 10rem 0 10rem 0;
}


.grid-container-course {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
    margin: 2rem 0 2rem 0;
}


.grids {
    padding: 3rem;
    border: 1px solid #333; 
}

.grids-languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    border: 1px solid #333; 
    text-align: center;
}


.skills {
    margin: 3rem 0 1rem 0;
    color: #fff;
}

.divider-grid {
    text-align: center;
    background-color: #333;
    padding: 0.5px;
    margin: 4rem 0 4rem 0;
}



.grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
}


.grids-title {
    color: #fff;
    font-size: 48px;
    font-weight: bolder;
}



.grids-projects {
    background-color: #eb6d24;
    padding: 3rem;
}  


/* Projects */
    .img-blueprints {
        background-image: url('../img/Blueprints_Synthesizer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }

    .img-tablou {
        background-image: url('../img/Original_Artboard 4.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }





.grids-work {
    background-color: #7291FC;
    padding: 3rem;
}   


.grids-job {
    background-color: #FF4A68;
    padding: 3rem;
}   


/* Work */
    .img-3dconcept {
        background-image: url('../img/Terasa_05.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }

    .img-vego {
        background-image: url('../img/Centru Acvatic Parc Pantelimon.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }




.grids-skills {
    background-color: #FFA807;
    padding: 3rem;
}  



/* Skills */
    .img-gd {
        background-image: url('../img/Nek_Artboard 01.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-brand {
        background-image: url('../img/brand.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-webdesign {
        background-image: url('../img/webdesign.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-uiuxdesign {
        background-image: url('../img/uiuxdesign.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-illustration {
        background-image: url('../img/Artboard 6.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-interiordesign {
        background-image: url('../img/INTERIOR REZIDENTIAL_INTERIOR APARTAMENT_LIVING.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }

    .img-gaming {
        background-image: url('../img/gaming.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-anatomy {
        background-image: url('../img/anatomy.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }




.grids-education {
    background-color: #36ff79;
    padding: 3rem;
}  

.grids-courses {
    background-color: #FF36A5;
    padding: 3rem;
}  


.grids-hobbies {
    background-color: #9736FF;
    padding: 3rem;
}  


/* Hobbies */

    .img-mind-mapping {
        background-image: url('../img/mind-mapping.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }

    .img-ping-pong {
        background-image: url('../img/ping-pong.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-neurographica {
        background-image: url('../img/neurographica.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-boardgames {
        background-image: url('../img/boardgames.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-basketball {
        background-image: url('../img/basketball.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-yoga {
        background-image: url('../img/yoga.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-drawing {
        background-image: url('../img/drawing.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-reading {
        background-image: url('../img/reading.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }

    .img-photography {
        background-image: url('../img/photography.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }


    .img-puzzle {
        background-image: url('../img/puzzle.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 4rem 0 4rem 0;
    }








.source {
    padding: 0.5rem 0 0 0;   
} 

.source a{
    color: #666;
    text-decoration: underline;
}


.link {
    padding: 2rem 0 0 0;
}


.link a {
    color: #666;
    text-decoration: underline;
}

.link-star {
    padding: 2rem 0 0 0;
}


.link-star a {
    color: #FF36A5;
    text-decoration: underline;
}

.link-nostar a {
    color: #666;
    text-decoration: underline;
}


.projects a {
    color: #FFA807;
    text-decoration: underline;
}

.projects a:hover {
    color: #666;
}



.projects-links a{
    color: #FF4A68;
    text-decoration: underline;
}

.projects-links a:hover{
    color: #fff;
    text-decoration: underline;
}


    .description-title {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items:baseline;
        text-align: center;
    }


    .description-left {
        text-align: start;
    }
    
    .description-right {
        text-align: end;
    }



    .portfolio-icons {
        display: inline-block;
        text-align: center;
        padding: 1.5rem;
        text-decoration: underline;
        margin: 2rem 0 0 0;

    }

    .portfolio-icons p {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
        color: #fff;
    }

    .portfolio-icons:hover {
        opacity: 20%;
    }


    .subtitle {
        color: #fff;
        font-size: 18px;
        padding: 6px 0 6px 0;
    }




.title-position {
    color: #fff;
    font-size: 32px;
    font-weight: bolder;
}


.title-type {
    color: #fff;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}



.title-company-eCommerce {
    color: #eb6d24;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-freelance {
    color: #7291FC;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-job {
    color: #FF4A68;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-skill {
    color: #FFA807;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-play {
    color: #9736FF;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}


.title-company-hobby {
    color: #1FCCCC;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-course {
    color: #EA7EFF;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-certificate {
    color: #FF36A5;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-college {
    color: #36ff79;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}



.title-period-eCommerce {
    color: #eb6d24;
    font-size: 32px;
    font-weight: bolder;
}


.title-period-freelance {
    color: #7291FC;
    font-size: 32px;
    font-weight: bolder;
}


.title-period-job {
    color: #FF4A68;
    font-size: 32px;
    font-weight: bolder;
}

.title-period-skill {
    color: #FFA807;
    font-size: 32px;
    font-weight: bolder;
}


.title-period-play {
    color: #9736FF;
    font-size: 32px;
    font-weight: bolder;
}

.title-period-hobby {
    color: #1FCCCC;
    font-size: 32px;
    font-weight: bolder;
}

.title-period-course {
    color: #EA7EFF;
    font-size: 32px;
    font-weight: bolder;
}

.title-period-certificate {
    color: #FF36A5;
    font-size: 32px;
    font-weight: bolder;
}

.title-period-college {
    color: #36ff79;
    font-size: 32px;
    font-weight: bolder;
}






    .tools-icons {
        display: inline-block;
        text-align: center;
        padding: 1.5rem;
    }

    
    .programs {
        font-size: 14px;
        padding: 0.5rem 0 0 0;
    }
    
    .notext {
        opacity: 0;
    }


    .superscript-eCommerce {
        color: #eb6d24;
    }

    .superscript-freelance {
        color: #7291FC;
    }


    .superscript-job {
        color: #FF4A68;
    }

    .superscript-skill {
        color: #FFA807;
    }

    .superscript-course {
        color: #EA7EFF;
    }

    .superscript-certificate {
        color: #FF36A5;
    }
    
    .superscript-hobby {
        color: #1FCCCC;
    }

    .superscript-play {
        color: #9736FF;
    }

    .superscript-college {
        color: #36ff79;
    }
    



/* footer */

footer {
    text-align: center;
    margin: 2rem;
    color: #333;
}

.divider {
    text-align: center;
    background-color: #333;
    padding: 0.5px;
    margin: 2rem;
}


/* mobile */

@media (max-width: 600px) {

    section {
        margin: 0 1rem 0 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0.1rem;
    }
    
    .grid-container-course {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0.1em;
    }

    .description-left {
        text-align: start;
        margin: 0;

    }

    .title-position {
        font-size: 24px;
    }   
    
        .title-period-eCommerce {
            font-size: 24px;
        }

        .title-period-freelance {
            font-size: 24px;
        }

        .title-period-job {
            font-size: 24px;
        }

        .title-period-skill {
            font-size: 24px;
        }

        .title-period-college {
            font-size: 24px;
        }

        .title-period-course {
            font-size: 24px;
        }
 
        .title-period-play {
            font-size: 24px;
        }


.anchor-links {
    position: fixed;
}


.table-of-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 1rem;
    margin: 0;
}

}