* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Overpass Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #666;
    margin: 4rem;
}

section {
    max-width: 1800px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}

section a {
    text-decoration: none;
    color: #666;
}

    section a:hover {
        color: #666;
    }




/* main */

main {
    max-width: 1800px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}



/* header */

header {
    max-width: 1800px;
    margin-inline: auto;
    padding: 6rem 0 6rem 0;
}

.grids-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
}

    .header-content p {
        margin: 1rem;
    }

        .name {
            font-size: 148px;
            font-weight: bolder;
            color: #666;
            text-align: end;
            padding: 3rem 0 6rem 0;
        }

        .subname {
            font-size: 32px;
            font-weight: bolder;
            color: #666;
            padding: 2rem 0 2rem 0;
        }


.contact a {
    color: #666;
    text-decoration: underline;

}

    .contact a:hover {
        color: #111;
        text-decoration: underline;
    }


.portfolio-online a {
    color: #ff4141;
    text-decoration: underline;
}

    .portfolio-online a:hover {
        color: #111;
        text-decoration: underline;
    }


.platform a {
    color: #3b4fff;
    text-decoration: underline;
}

    .platform a:hover {
        color: #111;
        text-decoration: underline;
    }




/* anchor-links */

    
.anchor-links {
    position: fixed;
    top: 0;
    right: 0;
}


.table-of-contents {
    display: grid;
    background-color: #111;

}

.table-of-contents a {
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bolder;
}


.anchor-About {
    color: #fff;
}

    .anchor-About:hover {
        color: #666;
    }



.anchor-Portfolio {
    color: #ff4141;
}

    .anchor-Portfolio:hover {
        color: #666;
    }


.anchor-Projects {
    color: #eb6d24;
}

    .anchor-Projects:hover {
        color: #666;
    }

.anchor-Work {
    color: #7291FC;
}

    .anchor-Work:hover {
        color: #666;
    }

.anchor-Job {
    color: #FF4A68;
}

    .anchor-Job:hover {
        color: #666;
    }

.anchor-Skills {
    color: #FFA807;
}

    .anchor-Skills:hover {
        color: #666;
    }

.anchor-Education {
    color: #91eb00;
}

    .anchor-Education:hover {
        color: #666;
    }

.anchor-Courses {
    color: #EA7EFF;
}

    .anchor-Courses:hover {
        color: #666;
    }

.anchor-Hobbies {
    color: #9736FF;
}

    .anchor-Hobbies:hover {
        color: #666;
    }






/* Section */


.grid-container-header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 4rem 0 4rem 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 0 0 4rem 0;
}


.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 0 4rem 0;
}


.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 4rem 0 4rem 0;
    gap: 4rem;
}


.grids {
    padding: 2rem;
    border: 1px solid #666; 
}


.skills {
    margin: 3rem 0 1rem 0;
    color: #666;
}



.grid-divider {
    padding: 4rem 0 4rem 0;
}


    .divider-content {
        padding: 2rem 0 2rem 0;
        background-color: #efefef;
    }





/* Hobbies */

.source {
    padding: 0.5rem 0 0 0;   
} 

.source a{
    color: #666;
    text-decoration: underline;
}




.link-course a {
    color: #EA7EFF;
    text-decoration: underline;
}

.link-certificate a {
    color: #FF36A5;
    text-decoration: underline;
}

.link-college a {
    color: #91eb00;
    text-decoration: underline;
}


.projects a {
    color: #FFA807;
    text-decoration: underline;
}

    .projects a:hover {
        color: #666;
    }


.projects-links a {
    color: #FF4A68;
    text-decoration: underline;
}

    .projects-links a:hover{
        color: #666;
        text-decoration: underline;
    }





/* Accordion */


.accordion-eCommerce {
    padding: 1rem;
    color: #111;
    background-color: #eb6d24;
    cursor: pointer;

}

.accordion-eCommerce:hover {
    background-color: #fff;
    border: 1px solid #eb6d24;
}   


.accordion-freelance {
    padding: 1rem;
    color: #111;
    background-color: #7291FC;
    cursor: pointer;

}

.accordion-freelance:hover {
    background-color: #fff;
    border: 1px solid #7291FC;
}   

.accordion-job {
    padding: 1rem;
    color: #111;
    background-color: #FF4A68;
    cursor: pointer;

}

.accordion-job:hover {
    background-color: #fff;
    border: 1px solid #FF4A68;
}   

.accordion-skill {
    padding: 1rem;
    color: #111;
    background-color: #FFA807;
    cursor: pointer;

}

.accordion-skill:hover {
    background-color: #fff;
    border: 1px solid #FFA807;
}   


.accordion-course {
    padding: 1rem;
    color: #111;
    background-color: #EA7EFF;
    cursor: pointer;

}

.accordion-course:hover {
    background-color: #fff;
    border: 1px solid #EA7EFF;
}   

.accordion-certificate {
    padding: 1rem;
    color: #111;
    background-color: #FF36A5;
    cursor: pointer;

}

.accordion-certificate:hover {
    background-color: #fff;
    border: 1px solid #FF36A5;
}   



    .description-title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: end;
    }



.flex-start {   
    display: flex;
    justify-content: space-between; 
    align-items: end;
}

.flex-end {    
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin: 0 0 3rem 0;
}

.flex-end-1 {    
    display: flex;
    justify-content: space-between;
    text-align: end;
}




.description-content-left img {
    max-width: 100%;
    height: auto;
    display: block;
}




    .description-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 2rem;
    }

    .description-content-1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 2rem;
    }


    .description-content-left {
        text-align: start;
    }
    
    .description-content-right {
        text-align: start;
    }





/* Website */

.portfolio {
    display: inline-block;
    text-align: center;
}



    .portfolio-icons {
        display: inline-block;
        text-align: center;
        padding: 1.5rem;
        text-decoration: underline;
    }

        
    
    .portfolio-icons a {
        display: inline-block;
        text-align: center;
    }


    .portfolio-icons p {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
        color: #666;
    }

    .portfolio-icons:hover {
        opacity: 40%;
    }


    .subtitle {
        color: #666;
        font-size: 18px;
        padding: 6px 0 6px 0;
    }







.title-position {
    color: #111;
    font-size: 24px;
    font-weight: bolder;
}


.title-type {
    color: #666;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}



.title-company-eCommerce {
    color: #eb6d24;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-freelance {
    color: #7291FC;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-job {
    color: #FF4A68;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-skill {
    color: #FFA807;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-hobby {
    color: #9736FF;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-course {
    color: #EA7EFF;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-certificate {
    color: #FF36A5;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}

.title-company-college {
    color: #91eb00;
    font-weight: bolder;
    padding: 1rem 0 0 0;
}





    .tools-icons {
        display: inline-block;
        text-align: center;
        padding: 1.5rem;
    }

    
    .programs {
        font-size: 14px;
        padding: 0.5rem 0 0 0;
    }
    
    .notext {
        opacity: 0;
    }


    .superscript-eCommerce {
        color: #eb6d24;
    }

    .superscript-freelance {
        color: #7291FC;
    }


    .superscript-job {
        color: #FF4A68;
    }

    .superscript-skill {
        color: #FFA807;
    }

    .superscript-course {
        color: #EA7EFF;
    }

    .superscript-certificate {
        color: #FF36A5;
    }
    
    .superscript-hobby {
        color: #9736FF;
    }

    .superscript-college {
        color: #91eb00;
    }
    








/* mobile */

@media (max-width: 600px) {

.anchor-links {
    position: fixed;
    top: 0;
    right: 0;
}


.table-of-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
}


body {
    background-color: #fff;
    color: #666;
    margin: 1rem;
}

header {
    padding: 1rem 0 1rem 0;
}


    .grid-container-header img {
        display: grid;
        grid-template-columns: 1fr;
        width: 80px;
        height: 80px;
    }

    .name {
        font-size: 68px;
        font-weight: bolder;
        color: #666;
        text-align: end;
        padding: 3rem 0 0 0;
    }


    .grids-header {
        display: grid;
        grid-template-columns: 1fr;
    }



    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        margin: 0 0 4rem 0;
    }


    .grid-container-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        margin: 0 0 4rem 0;
    }


    .grid-container-2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 4rem 0 4rem 0;
        gap: 4rem;
    }


    .grids {
        padding: 2rem;
        border: 1px solid #666; 
    }




    .description-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: 2rem;
    }

    .description-content-1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 2rem;
    }


    .flex-start {  
        display: grid;
        grid-template-columns: 1fr; 
        align-items: start;
    }

    .flex-end {    
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
    }

    .flex-end-1 {    
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
    }

    .title-position {
        color: #111;
        font-size: 24px;
        font-weight: bolder;
        margin: 1rem 0 0 0;
    }

}






/* tablet */

@media (max-width: 1100px) {

.anchor-links {
    position: fixed;
    top: 0;
    right: 0;
}


.table-of-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
}


body {
    background-color: #fff;
    color: #666;
    margin: 1rem;
}

header {
    padding: 1rem 0 1rem 0;
}

    .grid-container-header img {
        display: grid;
        grid-template-columns: 1fr;
        width: 60px;
        height: 60px;
    }

    .name {
        font-size: 68px;
        font-weight: bolder;
        color: #666;
        text-align: end;
        padding: 3rem 0 0 0;
    }

    .grids-header {
        display: grid;
        grid-template-columns: 1fr;
    }



    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        margin: 0 0 4rem 0;
    }


    .grid-container-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        margin: 0 0 4rem 0;
    }


    .grid-container-2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 4rem 0 4rem 0;
        gap: 4rem;
    }


    .grids {
        padding: 2rem;
        border: 1px solid #666; 
    }




    .description-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: 2rem;
    }

    .description-content-1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 2rem;
    }


    .flex-start {  
        display: grid;
        grid-template-columns: 1fr; 
        align-items: start;
    }

    .flex-end {    
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
    }

    .flex-end-1 {    
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
    }

    .title-position {
        color: #111;
        font-size: 24px;
        font-weight: bolder;
        margin: 1rem 0 0 0;
    }

}